WebApplication3/WebApplication3/Connected Services/ServiceReference1/SupplierAWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qun" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getPriceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qun" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateQuantityResponse">
        <s:complexType />
      </s:element>
      <s:element name="placeOder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="placeOderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getPriceSoapIn">
    <wsdl:part name="parameters" element="tns:getPrice" />
  </wsdl:message>
  <wsdl:message name="getPriceSoapOut">
    <wsdl:part name="parameters" element="tns:getPriceResponse" />
  </wsdl:message>
  <wsdl:message name="updateQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:updateQuantity" />
  </wsdl:message>
  <wsdl:message name="updateQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:updateQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="placeOderSoapIn">
    <wsdl:part name="parameters" element="tns:placeOder" />
  </wsdl:message>
  <wsdl:message name="placeOderSoapOut">
    <wsdl:part name="parameters" element="tns:placeOderResponse" />
  </wsdl:message>
  <wsdl:portType name="SupplierAWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <wsdl:input message="tns:getPriceSoapIn" />
      <wsdl:output message="tns:getPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <wsdl:input message="tns:updateQuantitySoapIn" />
      <wsdl:output message="tns:updateQuantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="placeOder">
      <wsdl:input message="tns:placeOderSoapIn" />
      <wsdl:output message="tns:placeOderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupplierAWebServiceSoap" type="tns:SupplierAWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="http://tempuri.org/getPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <soap:operation soapAction="http://tempuri.org/updateQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeOder">
      <soap:operation soapAction="http://tempuri.org/placeOder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupplierAWebServiceSoap12" type="tns:SupplierAWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <soap12:operation soapAction="http://tempuri.org/getPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <soap12:operation soapAction="http://tempuri.org/updateQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeOder">
      <soap12:operation soapAction="http://tempuri.org/placeOder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierAWebService">
    <wsdl:port name="SupplierAWebServiceSoap" binding="tns:SupplierAWebServiceSoap">
      <soap:address location="https://localhost:44395/SupplierAWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SupplierAWebServiceSoap12" binding="tns:SupplierAWebServiceSoap12">
      <soap12:address location="https://localhost:44395/SupplierAWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>